<div class="breadcramb">
    <div class="container breadcramb-container">
        <div class="breadcramb-current-item brand-style">New Arrivals </div>
        <nav>
            <ul class="breadcramb-nav">
                <li class="breadcramb-item"><a class="breadcramb-link" href="index.html">Home</a></li>
                <li class="breadcramb-item"><a class="breadcramb-link" href="product.html">Men</a></li>
                <li class="breadcramb-active brand-style">New Arrivals</li>
            </ul>
        </nav>
    </div>
</div>