
{% block feauter %}
    <div class="feature">
        <div class="container feature-container">
            <a href="#" class="feature-banner">
                <!--                <img class="feature-banner-img" src="img/banner_small.jpg" alt="banner">-->
                <div class="feature-banner-badge">
                    <p class="feature-banner-badge-first-string">30% <span class="brand-style">OFFER</span></p>
                    <p class="feature-banner-badge-second-string">FOR WOMEN</p>
                </div>
            </a>
            //= src_html/feature.html

        </div>

    </div>
{% endblock %}
