<footer>
    <div class="container">
        <div class="footer-top">
            <div class="footer-top-brand">
                <div class="logo-brand-footer">
                    <a href="index.html" class="logo-brand-link">
                        <img src="img/logo.png" alt="logo">
                        <p class="brand-name">
                            BRAN<span class="brand-style letter-d">D</span>
                        </p>
                    </a>
                </div>

                <p class="footer-about">
                    Objectively transition extensive data rather than cross functional solutions. Monotonectally syndicate multidisciplinary materials before go forward benefits. Intrinsicly syndicate an expanded array of processes and cross-unit partnerships. <br><br>

                    Efficiently plagiarize 24/365 action items and focused infomediaries.
                    Distinctively seize superior initiatives for wireless technologies. Dynamically optimize.

                    Objectively strategize seamless relationships via resource sucking testing procedures. Proactively cultivate next-generation results for value-added methodologies. Dynamically plagiarize unique methodologies after performance based methodologies. Monotonectally empower stand-alone mindshare rather than ubiquitous opportunities. Dynamically orchestrate resource sucking scenarios after alternative synergy.

                    Compellingly envisioneer corporate methods of empowerment before standards compliant technologies. Objectively facilitate progressive.
                </p>
            </div>
            <nav class="footer-nav">
                <div class="footer-top-company">
                    <h4 class="footer-menu-title brand-style">COMPANY</h4>
                    <ul class="footer-menu">
                        <li><a href="index.html" class="footer-menu-link">Home </a></li>
                        <li><a href="/?page=product" class="footer-menu-link">Shop</a></li>
                        <li><a href="#" class="footer-menu-link">About</a></li>
                        <li><a href="#" class="footer-menu-link">How It Works</a></li>
                        <li><a href="#" class="footer-menu-link">Contact</a></li>
                    </ul>
                </div>
                <div class="footer-top-info">
                    <h4 class="footer-menu-title brand-style">INFORMATION</h4>
                    <ul class="footer-menu">
                        <li><a href="#" class="footer-menu-link">Tearms &amp; Condition </a></li>
                        <li><a href="#" class="footer-menu-link">Privacy Policy</a></li>
                        <li><a href="#" class="footer-menu-link">How to Buy</a></li>
                        <li><a href="#" class="footer-menu-link">How to Sell</a></li>
                        <li><a href="#" class="footer-menu-link">Promotion</a></li>
                    </ul>
                </div>
                <div class="footer-top-canegory">
                    <h4 class="footer-menu-title brand-style">SHOP CATEGORY</h4>
                    <ul class="footer-menu">
                        <li><a href="/?page=product" class="footer-menu-link">Men </a></li>
                        <li><a href="/?page=product" class="footer-menu-link">Women</a></li>
                        <li><a href="/?page=product" class="footer-menu-link">Child</a></li>
                        <li><a href="/?page=product" class="footer-menu-link">Apparel</a></li>
                        <li><a href="/?page=product" class="footer-menu-link">Brows All</a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container container-footer-bottom">

            <p class="copyright">&copy; 2018 Brand All Rights Reserved.</p>
            <div class="social-networks">
                <a href="https://www.facebook.com/" class="social-link"><i class="fab fa-facebook-f"></i></a>
                <a href="https://twitter.com/" class="social-link"><i class="fab fa-twitter"></i></a>
                <a href="https://www.linkedin.com/" class="social-link disable"><i class="fab fa-linkedin-in"></i></a>
                <a href="https://www.pinterest.ru/" class="social-link"><i class="fab fa-pinterest-p"></i></a>
                <a href="https://plus.google.com/discover" class="social-link"><i class="fab fa-google-plus-g"></i></a>
            </div>
        </div>
    </div>
</footer>

<script src="js/jquery.min.js"></script>
<script src="js/jquery-ui.min.js"></script>
<script src="js/main.min.js"></script>