<nav class="main-menu">
    <div class="container">
        <ul class="main-menu-ul">
            <li><a href="/?page=product" class="main-menu-link menu-link">Product</a></li>
            <li><a href="#" class="main-menu-link menu-link">About</a></li>
            <li><a href="#" class="main-menu-link menu-link">User Guide</a></li>
            <li><a href="#" class="main-menu-link menu-link">Tearms</a></li>
            <li><a href="#" class="main-menu-link menu-link">Contact</a></li>
        </ul>
    </div>
</nav>
