{% extends 'layout.twig' %}

{% block main_content %}
    <div class="container catalog-container">
    <aside>
        <nav class="sidebar">
            <ul class="sidebar-menu">
                <li>
                    <div class="sidebar-title">
                        <h4 class="sidebar-title-name">Category</h4>
                        <i class="fas fa-caret-down sidebar-title-caret"></i>
                    </div>
                    <ul class="sidebar-submenu">
                        <li><a href="#" class="sidebar-link">Accessories</a></li>
                        <li><a href="#" class="sidebar-link">Bags</a></li>
                        <li><a href="#" class="sidebar-link">Denim</a></li>
                        <li><a href="#" class="sidebar-link">Hoodies &amp; Sweatshirts</a></li>
                        <li><a href="#" class="sidebar-link">Jackets &amp; Coats</a></li>
                        <li><a href="#" class="sidebar-link">Pants</a></li>
                        <li><a href="#" class="sidebar-link">Polos</a></li>
                        <li><a href="#" class="sidebar-link">Shirts</a></li>
                        <li><a href="#" class="sidebar-link">Shoes</a></li>
                        <li><a href="#" class="sidebar-link">Shorts</a></li>
                        <li><a href="#" class="sidebar-link">Sweaters &amp; Knits</a></li>
                        <li><a href="#" class="sidebar-link">T-Shirts</a></li>
                        <li><a href="#" class="sidebar-link">Tanks</a></li>
                    </ul>
                </li>
                <li>
                    <div class="sidebar-title">
                        <h4 class="sidebar-title-name">BRAND</h4>
                        <i class="fas fa-caret-down sidebar-title-caret"></i>
                    </div>
                    <ul class="sidebar-submenu">
                        <li><a href="#" class="sidebar-link">Accessories</a></li>
                        <li><a href="#" class="sidebar-link">Bags</a></li>
                        <li><a href="#" class="sidebar-link">Denim</a></li>
                        <li><a href="#" class="sidebar-link">Hoodies &amp; Sweatshirts</a></li>
                        <li><a href="#" class="sidebar-link">Jackets &amp; Coats</a></li>
                        <li><a href="#" class="sidebar-link">Pants</a></li>
                        <li><a href="#" class="sidebar-link">Polos</a></li>
                        <li><a href="#" class="sidebar-link">Shirts</a></li>
                        <li><a href="#" class="sidebar-link">Shoes</a></li>
                        <li><a href="#" class="sidebar-link">Shorts</a></li>
                        <li><a href="#" class="sidebar-link">Sweaters &amp; Knits</a></li>
                        <li><a href="#" class="sidebar-link">T-Shirts</a></li>
                        <li><a href="#" class="sidebar-link">Tanks</a></li>
                    </ul>
                </li>
                <li>
                    <div class="sidebar-title">
                        <h4 class="sidebar-title-name">dESIGNER</h4>
                        <i class="fas fa-caret-down sidebar-title-caret"></i>
                    </div>
                    <ul class="sidebar-submenu">
                        <li><a href="#" class="sidebar-link">Accessories</a></li>
                        <li><a href="#" class="sidebar-link">Bags</a></li>
                        <li><a href="#" class="sidebar-link">Denim</a></li>
                        <li><a href="#" class="sidebar-link">Hoodies &amp; Sweatshirts</a></li>
                        <li><a href="#" class="sidebar-link">Jackets &amp; Coats</a></li>
                        <li><a href="#" class="sidebar-link">Pants</a></li>
                        <li><a href="#" class="sidebar-link">Polos</a></li>
                        <li><a href="#" class="sidebar-link">Shirts</a></li>
                        <li><a href="#" class="sidebar-link">Shoes</a></li>
                        <li><a href="#" class="sidebar-link">Shorts</a></li>
                        <li><a href="#" class="sidebar-link">Sweaters &amp; Knits</a></li>
                        <li><a href="#" class="sidebar-link">T-Shirts</a></li>
                        <li><a href="#" class="sidebar-link">Tanks</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </aside>
    <div class="products-content">

        <div class="products-filter">
            <div class="products-filter-wrap">
                <h6 class="products-filter-title">Trending now</h6>
                <ul class="products-filter-value">
                    <li class="products-filter-list"><a href="#" class="products-filter-link">Bohemian</a></li>
                    <li class="products-filter-list"><a href="#" class="products-filter-link">Floral</a></li>
                    <li class="products-filter-list"><a href="#" class="products-filter-link">Lace</a></li>
                </ul>

                <ul class="products-filter-value">
                    <li class="products-filter-list"><a href="#" class="products-filter-link">Floral</a></li>
                    <li class="products-filter-list"><a href="#" class="products-filter-link">Lace</a></li>
                    <li class="products-filter-list"><a href="#" class="products-filter-link">Bohemian</a></li>
                </ul>
            </div>
            <div class="products-filter-wrap">
                <h6 class="products-filter-title">Size</h6>
                <div class="products-filter-value">
                    <label class="filter-label-checkbox" for="sizeXXS">
                        <input class="checkbox" type="checkbox" name="size" id="sizeXXS">
                        <span class="filter-checkbox"></span>
                        <span class="filter-label">XXS</span>
                    </label>
                    <label class="filter-label-checkbox" for="sizeXS">
                        <input class="checkbox" type="checkbox" name="size" id="sizeXS">
                        <span class="filter-checkbox"></span>
                        <span class="filter-label">XS</span>
                    </label>
                    <label class="filter-label-checkbox" for="sizeS">
                        <input class="checkbox" type="checkbox" name="size" id="sizeS">
                        <span class="filter-checkbox"></span>
                        <span class="filter-label">S</span>
                    </label>
                    <label class="filter-label-checkbox" for="sizeM">
                        <input class="checkbox" type="checkbox" name="size" id="sizeM">
                        <span class="filter-checkbox"></span>
                        <span class="filter-label">M</span>
                    </label>
                    <label class="filter-label-checkbox" for="sizeL">
                        <input class="checkbox" type="checkbox" name="size" id="sizeL">
                        <span class="filter-checkbox"></span>
                        <span class="filter-label">L</span>
                    </label>
                    <label class="filter-label-checkbox" for="sizeXL">
                        <input class="checkbox" type="checkbox" name="size" id="sizeXL">
                        <span class="filter-checkbox"></span>
                        <span class="filter-label">XL</span>
                    </label>
                    <label class="filter-label-checkbox" for="sizeXXL">
                        <input class="checkbox" type="checkbox" name="size" id="sizeXXL">
                        <span class="filter-checkbox"></span>
                        <span class="filter-label">XXL</span>
                    </label>

                </div>

            </div>
            <div class="products-filter-wrap products-filter-price">
                <h6 class="products-filter-title">pRICE</h6>
                <div class="products-filter-slider">
                    <div class="products-filter-bar"></div>
                    <div class="products-filter-point products-filter-point-left"></div>
                    <div class="products-filter-point products-filter-point-right"></div>
                </div>
                <div class="price-range">
                    <span class="price-range-number price-range-min">$52</span>
                    <span class="price-range-number price-range-max">$400</span>
                </div>

            </div>
        </div>

        <div class="product-sort">
            <form class="product-sort-form" action="#">
                <label class="product-sort-label" for="sort-by">Sort By
                    <span class="product-sort-select-wrap">
                                <i class="fas fa-caret-down icon-drop-list"></i>
                                <select class="select-item-sort" name="sort-by" id="sort-by">
                                    <option value="name">Name</option>
                                    <option value="price">Price</option>
                                </select>
                            </span>
                </label>
            </form>
            <form class="product-sort-form" action="#">
                <label class="product-sort-label" for="show">Show
                    <span class="product-sort-select-wrap">
                                <i class="fas fa-caret-down icon-drop-list"></i>
                                <select class="select-item-sort select-item-show" name="show" id="show">
                                    <option value="09">09</option>
                                    <option value="18">18</option>
                                    <option value="27">27</option>
                                </select>
                            </span>
                </label>
            </form>
        </div>

        <div class="products">
            <product-list></product-list>
{#
            <!--card of product begin-->
            <div class="product-card" data-id="9" data-name="Mango People T-shirt" data-price="52">
                <a class="product-card-link" href="single-page.html">
                    <div class="product-img-wrap">
                        <img class="product-img" src="img/products/product9.jpg" alt="product">
                        <div class="product-img-mask"></div>
                    </div>

                    <div class="product-card-info">
                        <p class="product-name">Mango People T-shirt</p>

                        <div class="product-bottom">
                            <p class="product-price">$52.00</p>
                            <div class="product-rating">
                                <i class="fas fa-star rating-star"></i>
                                <i class="fas fa-star rating-star"></i>
                                <i class="fas fa-star rating-star"></i>
                                <i class="fas fa-star rating-star"></i>
                                <i class="far fa-star rating-star"></i>
                            </div>
                        </div>
                    </div>
                </a>
                <div class="parent-product-card">
                    <div class="add-cart-wrap">
                        <a href="#" class="product-card-hover">Add to Cart</a>
                    </div>
                    <div class="product-card-hover-buttons">
                        <a href="#" class="product-card-hover reload"></a>
                        <a href="#" class="product-card-hover favorite"></a>
                    </div>
                </div>
            </div>
            <!--card of product end-->
            <!--card of product begin-->
            <div class="product-card" data-id="10" data-name="Mango People T-shirt" data-price="52">
                <a class="product-card-link" href="single-page.html">
                    <div class="product-img-wrap">
                        <img class="product-img" src="img/products/product10.jpg" alt="product">
                        <div class="product-img-mask"></div>
                    </div>

                    <div class="product-card-info">
                        <p class="product-name">Mango People T-shirt</p>

                        <div class="product-bottom">
                            <p class="product-price">$52.00</p>
                            <div class="product-rating">
                                <i class="fas fa-star rating-star"></i>
                                <i class="fas fa-star rating-star"></i>
                                <i class="fas fa-star rating-star"></i>
                                <i class="fas fa-star rating-star"></i>
                                <i class="far fa-star rating-star"></i>
                            </div>
                        </div>
                    </div>
                </a>
                <div class="parent-product-card">
                    <div class="add-cart-wrap">
                        <a href="#" class="product-card-hover">Add to Cart</a>
                    </div>
                    <div class="product-card-hover-buttons">
                        <a href="#" class="product-card-hover reload"></a>
                        <a href="#" class="product-card-hover favorite"></a>
                    </div>
                </div>
            </div>
            <!--card of product end-->
            <!--card of product begin-->
            <div class="product-card" data-id="11" data-name="Mango People T-shirt" data-price="52">
                <a class="product-card-link" href="single-page.html">
                    <div class="product-img-wrap">
                        <img class="product-img" src="img/products/product11.jpg" alt="product">
                        <div class="product-img-mask"></div>
                    </div>

                    <div class="product-card-info">
                        <p class="product-name">Mango People T-shirt</p>

                        <div class="product-bottom">
                            <p class="product-price">$52.00</p>
                            <div class="product-rating">
                                <i class="fas fa-star rating-star"></i>
                                <i class="fas fa-star rating-star"></i>
                                <i class="fas fa-star rating-star"></i>
                                <i class="fas fa-star rating-star"></i>
                                <i class="far fa-star rating-star"></i>
                            </div>
                        </div>
                    </div>
                </a>
                <div class="parent-product-card">
                    <div class="add-cart-wrap">
                        <a href="#" class="product-card-hover">Add to Cart</a>
                    </div>
                    <div class="product-card-hover-buttons">
                        <a href="#" class="product-card-hover reload"></a>
                        <a href="#" class="product-card-hover favorite"></a>
                    </div>
                </div>
            </div>
            <!--card of product end-->
            <!--card of product begin-->
            <div class="product-card" data-id="12" data-name="Mango People T-shirt" data-price="52">
                <a class="product-card-link" href="single-page.html">
                    <div class="product-img-wrap">
                        <img class="product-img" src="img/products/product12.jpg" alt="product">
                        <div class="product-img-mask"></div>
                    </div>

                    <div class="product-card-info">
                        <p class="product-name">Mango People T-shirt</p>

                        <div class="product-bottom">
                            <p class="product-price">$52.00</p>
                            <div class="product-rating">
                                <i class="fas fa-star rating-star"></i>
                                <i class="fas fa-star rating-star"></i>
                                <i class="fas fa-star rating-star"></i>
                                <i class="fas fa-star rating-star"></i>
                                <i class="far fa-star rating-star"></i>
                            </div>
                        </div>
                    </div>
                </a>
                <div class="parent-product-card">
                    <div class="add-cart-wrap">
                        <a href="#" class="product-card-hover">Add to Cart</a>
                    </div>
                    <div class="product-card-hover-buttons">
                        <a href="#" class="product-card-hover reload"></a>
                        <a href="#" class="product-card-hover favorite"></a>
                    </div>
                </div>
            </div>
            <!--card of product end-->
            <!--card of product begin-->
            <div class="product-card" data-id="13" data-name="Mango People T-shirt" data-price="52">
                <a class="product-card-link" href="single-page.html">
                    <div class="product-img-wrap">
                        <img class="product-img" src="img/products/product13.jpg" alt="product">
                        <div class="product-img-mask"></div>
                    </div>

                    <div class="product-card-info">
                        <p class="product-name">Mango People T-shirt</p>

                        <div class="product-bottom">
                            <p class="product-price">$52.00</p>
                            <div class="product-rating">
                                <i class="fas fa-star rating-star"></i>
                                <i class="fas fa-star rating-star"></i>
                                <i class="fas fa-star rating-star"></i>
                                <i class="fas fa-star rating-star"></i>
                                <i class="far fa-star rating-star"></i>
                            </div>
                        </div>
                    </div>
                </a>
                <div class="parent-product-card">
                    <div class="add-cart-wrap">
                        <a href="#" class="product-card-hover">Add to Cart</a>
                    </div>
                    <div class="product-card-hover-buttons">
                        <a href="#" class="product-card-hover reload"></a>
                        <a href="#" class="product-card-hover favorite"></a>
                    </div>
                </div>
            </div>
            <!--card of product end-->
            <!--card of product begin-->
            <div class="product-card" data-id="14" data-name="Mango People T-shirt" data-price="52">
                <a class="product-card-link" href="single-page.html">
                    <div class="product-img-wrap">
                        <img class="product-img" src="img/products/product14.jpg" alt="product">
                        <div class="product-img-mask"></div>
                    </div>

                    <div class="product-card-info">
                        <p class="product-name">Mango People T-shirt</p>

                        <div class="product-bottom">
                            <p class="product-price">$52.00</p>
                            <div class="product-rating">
                                <i class="fas fa-star rating-star"></i>
                                <i class="fas fa-star rating-star"></i>
                                <i class="fas fa-star rating-star"></i>
                                <i class="fas fa-star rating-star"></i>
                                <i class="far fa-star rating-star"></i>
                            </div>
                        </div>
                    </div>
                </a>
                <div class="parent-product-card">
                    <div class="add-cart-wrap">
                        <a href="#" class="product-card-hover">Add to Cart</a>
                    </div>
                    <div class="product-card-hover-buttons">
                        <a href="#" class="product-card-hover reload"></a>
                        <a href="#" class="product-card-hover favorite"></a>
                    </div>
                </div>
            </div>
            <!--card of product end-->
            <!--card of product begin-->
            <div class="product-card" data-id="15" data-name="Mango People T-shirt" data-price="52">
                <a class="product-card-link" href="single-page.html">
                    <div class="product-img-wrap">
                        <img class="product-img" src="img/products/product15.jpg" alt="product">
                        <div class="product-img-mask"></div>
                    </div>

                    <div class="product-card-info">
                        <p class="product-name">Mango People T-shirt</p>

                        <div class="product-bottom">
                            <p class="product-price">$52.00</p>
                            <div class="product-rating">
                                <i class="fas fa-star rating-star"></i>
                                <i class="fas fa-star rating-star"></i>
                                <i class="fas fa-star rating-star"></i>
                                <i class="fas fa-star rating-star"></i>
                                <i class="far fa-star rating-star"></i>
                            </div>
                        </div>
                    </div>
                </a>
                <div class="parent-product-card">
                    <div class="add-cart-wrap">
                        <a href="#" class="product-card-hover">Add to Cart</a>
                    </div>
                    <div class="product-card-hover-buttons">
                        <a href="#" class="product-card-hover reload"></a>
                        <a href="#" class="product-card-hover favorite"></a>
                    </div>
                </div>
            </div>
            <!--card of product end-->
            <!--card of product begin-->
            <div class="product-card" data-id="16" data-name="Mango People T-shirt" data-price="52">
                <a class="product-card-link" href="single-page.html">
                    <div class="product-img-wrap">
                        <img class="product-img" src="img/products/product16.jpg" alt="product">
                        <div class="product-img-mask"></div>
                    </div>

                    <div class="product-card-info">
                        <p class="product-name">Mango People T-shirt</p>

                        <div class="product-bottom">
                            <p class="product-price">$52.00</p>
                            <div class="product-rating">
                                <i class="fas fa-star rating-star"></i>
                                <i class="fas fa-star rating-star"></i>
                                <i class="fas fa-star rating-star"></i>
                                <i class="fas fa-star rating-star"></i>
                                <i class="far fa-star rating-star"></i>
                            </div>
                        </div>
                    </div>
                </a>
                <div class="parent-product-card">
                    <div class="add-cart-wrap">
                        <a href="#" class="product-card-hover">Add to Cart</a>
                    </div>
                    <div class="product-card-hover-buttons">
                        <a href="#" class="product-card-hover reload"></a>
                        <a href="#" class="product-card-hover favorite"></a>
                    </div>
                </div>
            </div>
            <!--card of product end-->
            <!--card of product begin-->
            <div class="product-card" data-id="17" data-name="Mango People T-shirt" data-price="52">
                <a class="product-card-link" href="single-page.html">
                    <div class="product-img-wrap">
                        <img class="product-img" src="img/products/product17.jpg" alt="product">
                        <div class="product-img-mask"></div>
                    </div>

                    <div class="product-card-info">
                        <p class="product-name">Mango People T-shirt</p>

                        <div class="product-bottom">
                            <p class="product-price">$52.00</p>
                            <div class="product-rating">
                                <i class="fas fa-star rating-star"></i>
                                <i class="fas fa-star rating-star"></i>
                                <i class="fas fa-star rating-star"></i>
                                <i class="fas fa-star rating-star"></i>
                                <i class="far fa-star rating-star"></i>
                            </div>
                        </div>
                    </div>
                </a>
                <div class="parent-product-card">
                    <div class="add-cart-wrap">
                        <a href="#" class="product-card-hover">Add to Cart</a>
                    </div>
                    <div class="product-card-hover-buttons">
                        <a href="#" class="product-card-hover reload"></a>
                        <a href="#" class="product-card-hover favorite"></a>
                    </div>
                </div>
            </div>
            <!--card of product end-->
#}

        </div>

        <div class="content-footer">
            <div class="pagination">
                <a href="#" class="pagination-link pagination-link-prev"><i class="fas fa-angle-left"></i></a>
                <a href="#" class="pagination-link pagination-link-active">1</a>
                <a href="#" class="pagination-link">2</a>
                <a href="#" class="pagination-link">3</a>
                <a href="#" class="pagination-link">4</a>
                <a href="#" class="pagination-link">5</a>
                <a href="#" class="pagination-link">6</a>
                <a href="#" class="pagination-link pagination-link-dot">......</a>
                <a href="#" class="pagination-link">20</a>
                <a href="#" class="pagination-link pagination-link-next"><i class="fas fa-angle-right"></i></a>
            </div>
            <a href="#" class="view-all">View All</a>
        </div>

    </div>
</div>
{% endblock %}
