<div class="subscribe">
    <div class="container subscribe-container">
        <div class="subscribe-slider">
            <div class="subscribe-slider-photo">
                <img class="subscribe-slider-img" src="img/photo.jpg" alt="photo">
            </div>
            <div class="subscribe-slider-content">
                <p class="subscribe-slider-quote">
                    “Vestibulum quis porttitor dui! Quisque viverra nunc mi,
                    a pulvinar purus condimentum a. Aliquam condimentum mattis neque sed pretium”
                </p>
                <p class="subscribe-slider-author brand-style">Bin Burhan</p>
                <p class="subscribe-slider-city">Dhaka, Bd</p>

                <div class="slider-controls">
                    <div class="slider-control-wrap">
                        <div class="slider-control"></div>
                    </div>
                    <div class="slider-control-wrap">
                        <div class="slider-control active"></div>
                    </div>
                    <div class="slider-control-wrap">
                        <div class="slider-control"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="subscribe-separator"></div>

        <div class="subscribe-box">
            <h3 class="subscribe-box-title">Subscribe</h3>
            <p class="subscribe-box-about">FOR OUR NEWLETTER AND PROMOTION</p>

            <form action="#" class="subscribe-form">
                <input class="subscribe-email" type="email" name="email" id="email" placeholder="Enter Your Email">
                <button class="button-brand subscribe-button" type="submit">Subscribe</button>
            </form>
        </div>
    </div>
</div>